@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
:root {
  /* colors */
  --primary-yellow: #FFEA4F;
  --primary-blue: #466680;
  --grey-light: #979797;
  --text-white: #ffffff;
  --text-black: #000000;
  /* Font families. */
  --primary-font: 'Roboto Mono', monospace;

  /* Font sizes. */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;

  /* spacing */
  --spacing-01: 0.125rem;
  --spacing-02: 0.25rem;
  --spacing-03: 0.5rem;
  --spacing-04: 0.75rem;
  --spacing-05: 1rem;
  --spacing-06: 1.5rem;
  --spacing-07: 2rem;
}

.App {
  font-family: var(--primary-font);
}


.header-upper {
  margin: var(--spacing-05) 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: var(--primary-blue);
  font-size: var(--font-size-4xl);
  margin: 0 var(--spacing-05);
}

.sub-heading {
  color: var(--text-black);
}

.image {
  width: 66px;
  height: 99px;
}

.header-lower {
  background-color: var(--primary-yellow);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  width: 50%;
  font-size: var(--font-size-2xl);
  padding: var(--spacing-05) var(--spacing-04) ;
  margin: var(--spacing-07) 0px;
  border: 3px solid var(--grey-light);
  border-radius: 5px;
}

.emoji-container {
  display: flex;
  justify-content: center;
}

.emoji {
  font-size: var(--font-size-3xl);
  margin: var(--spacing-07) var(--spacing-05);
  cursor: pointer;
}

.emoji-active {
  background-color: var(--text-black);
}

.meaning {
  height: 60px;
}

.footer {
  background-color: var(--primary-yellow);
  display: flex;
  justify-content: space-around;
  padding: var(--spacing-07) var(--spacing-10);
}

.footer-columns {
  display: flex;
  flex-direction: column;
  margin: 0px 12%;
}

.footer-link {
  display: block;
  color: var(--text-black);
  margin: var(--spacing-03) 0px;
  font-weight: bold;
  font-size: var(--font-size-sm);
}

.small {
  width: 200px;
  display: block;
  font-weight: 500;
  margin: var(--spacing-02) 0px;
}

.footer-heading {
  color: var(--primary-blue);
}

@media only screen and (max-width: 600px) {
 
  .heading {
    font-size: var(--font-size-3xl);
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .emoji-container {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}

  .input {
  width: 70%;
  font-size: var(--font-size-xl);
  padding: var(--spacing-05) var(--spacing-04) ;
  margin: var(--spacing-07) 0px;
  border: 3px solid var(--grey-light);
  border-radius: 5px;
}

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}